.attendance_card{
  padding: 20px 20px 80px 20px; /* Padding around the grid */
}

.attendance-card h2 {
  color: black;
}

.attendance-card-container {
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  transition: opacity 0.5s ease-in-out, transform 1s;
}

.attendance-card-container.hide {
  opacity: 0;
  pointer-events: none;
}

.attendance-card-container.show {
  opacity: 1;
}

.attendance-card-container.rotate {
  transform: rotateY(360deg); /* Rotate the card */
}

.attendance-card {
  border: 1px solid #dddddd84;
  border-radius: 8px;
  padding: 16px;
  margin: 20px auto;
  background-color: #f9f9f9;
}

.show-card-button1 {
  padding: 12px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  outline: none !important;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.show-card-button2 {
  border: 2px solid #007bff;
  background: transparent;
  z-index: 1;
  color: #007bff;
  border-radius: 25px;
  padding: 12px 30px;
  transition: all 0.3s ease-in-out;
}

.show-card-button2:after {
  position: absolute;
  content: "";
  inline-size: 0;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  direction: rtl;
  z-index: -1;
  background: linear-gradient(145deg, #007bff, #0056b3);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.show-card-button2:hover {
  color: white;
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.2);
}

.show-card-button2:hover:after {
  inset-inline-start: auto;
  inset-inline-end: 0;
  inline-size: 100%;
}

.show-card-button2:active {
  inset-block-start: 3px;
  box-shadow: none;
}



.clickable-cell {
  cursor: pointer;
  position: relative;
  inline-size: 100px; /* Adjust width as needed */
  block-size: 50px; /* Adjust height as needed */
  perspective: 1000px; /* Create perspective for the flip effect */
}

.cell-inner {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  transition: transform 0.6s; /* Duration of the flip effect */
  transform-style: preserve-3d; /* Ensures 3D effects are applied */
}

.clickable-cell.flipped .cell-inner {
  transform: rotateY(180deg); /* Rotate the cell to show the back */
}

.cell-front,
.cell-back {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  backface-visibility: hidden; /* Hides the back of the cell when facing away */
}

.cell-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.cell-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  transform: rotateY(180deg); /* Rotate the back to be hidden initially */
}

.timestamp {
  background: #fff;
  border: 1px solid #ddd;
  padding: 4px;
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 0;
  transform: translateY(4px);
}

